<form method="post" action="{{ path('app_admin_offre_demploi_delete', {'id': offre_demploi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ offre_demploi.id) }}">
    <button class="btn">Delete</button>
</form>
