{% extends 'baseAdmin.html.twig' %}

{% block title %}Ajouter  Offre d'emploi{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Ajouter  Offre d'emploi</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <div class="d-md-flex">
                        <ol class="breadcrumb ms-auto">
                            <li><a href="{{path('app_admin_offre_demploi_index')}}" class="fw-normal">Dashboard</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    {{ include('admin/offre_demploi/_form.html.twig') }}
                </div>
            </div>
        </div> 
    </div>
{% endblock %}
